.bg-light2 {
    background-color: #4646469e !important;
  }
.quem-somos{
      background-color: #000000b0 ;
  }
  .parceiros{
    background-color: #201f1f;
  }
  .image-parceiros{
    background-color: #ffffff;
  }
  .margin{
    padding-top: 6em;
    padding-bottom: 6em;
  }
    .fonte{
      color: #ff4d4d;
    }
  .preenchimento{
    padding: 100px 100px;
    }